<h2><%= link_to @post.description, @post.link %></h2>

<br>
<br>

<% @comments.each do |comment| %>
  <div class="allComments"><%= "Comment by: #{comment.user.user_name}" %>
    <ul><%= comment.content %></ul></div>
<% end %>

<br>
<br>

<% if current_user %>
  <%= form_for [@commentable, @comment] do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.submit %>
  <% end %>
<% end %>

<br>
<br>

<p><%= link_to "Back to Posts", posts_path %></p>