<h1 class="authentication">Sign up</h1>

<div class="form">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class ="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>

  <h4>Username</h4>
  <div class="form">
    <%= f.text_field :user_name, :class => "fields" %>
  </div>
  <h4>Password</h4>
  <div class="form">
    <%= f.password_field :password, :class => "fields" %>
  </div>
  <h4>Password Confirmation</h4>
  <div class="form">
    <%= f.password_field :password_confirmation, :class => "fields" %>
  </div>
  <div class="form" id="submit"><%= f.submit "Sign Up" %></div>
<% end %>